* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* ------------------- WIDTH & HEIGHT ------------------- */
.w_200px {
    width: 200px;
}

.w_50x100 {
    width: 50%;
}

/* ------------- MARGIN & PADDING --------------------*/
.p_10 {
    padding: 10px;
}

.p_20 {
    padding: 20px;
}

.p_50 {
    padding: 50px;
}

.p_70 {
    padding: 70px;
}

.p_100 {
    padding: 100px;
}

.m_20 {
    margin: 20px 0px;
}

.m_auto {
    margin: auto;
}

/* ------------ BACKGROUND COLORS ----------------*/

.bg_white {
    background-color: white;
}

.bg_light_grey {
    background-color: rgb(246, 246, 246);
}

.bg_dark {
    background-color: rgb(14, 14, 14);
}

.bg_yellow {
    background-color: hsl(60, 100%, 89%);
}

.bg_img {
    width: 100%;
    /*opacity: 80%;*/
}

.text_center {
    text-align: center;
}

.logo {
    width: 30px;
    height: 30px;
    /*10%;*/
    border-radius: 100px;
    border: solid 2px white;
}

.img_profilo {
    width: 100px;
    border-radius: 100px;
    border: solid white;
    width: 150px;
}

.distantial_div {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 20px;
}


.logo_footer {
    width: 30px;
    border-radius: 100px;
    border: solid white;
}

#div_footer {
    padding-top: 50px;
}

.footer_p {
    padding-bottom: 10px;
}

/* ------------ TEXT FONTs ----------------*/
.text_roboto {
    font-family: "roboto";
    /*font-size: ;*/
}

/* ------------- TEXT COLORS --------------------*/
.text_white {
    color: white;
}

.text_dark {
    color: #000000;
}

/*--------- TEXT ALIGNMENTS ----------------------- */

.title_important {
    font-family: "Russo One", sans-serif;
    font-weight: 600;
    font-size: 20px;
}

.text_footer {
    font-family: "roboto";
    color: white;
}

.text_footer {
    font-family: "roboto";
    color: white;
}

/*
.title_secondary {
    font-family: "Russo One", sans-serif;
    font-weight: 400;
    font-size: 50px;
}
*/

/* ------- BUTTONS CUSTOM -------- */
.custom_button {
    background-color: #f3f3f3;
    border-radius: 30px;
    /*  
    border: none;
    color: rgb(0, 0, 0);
    padding: 12px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    */
}

/* --------------- UTILITY FLEX --------------------- */

.flex {
    display: flex;
}

.flex_reverse {
    display: flex;
    flex-direction: row-reverse;
}

.space_evenly {
    justify-content: space-evenly;
}

.align_items_center {
    align-items: center;
}

.gap_20 {
    gap: 20px;
}

.center_absolute {
    position: absolute;
}

/* ------------------- UTILITY PERSONALI -----------------------

.debug {
    background-color: darkorange;
    border: 5px solid red;
}

h3 {
    font-family: "Sedgwick Ave", cursive;
    color: orange;
    background-color: hsl(60, 100%, 89%);
}

.float-left{
    float: left;
}

*/

/* ------------------  ID ---------------------------------- */

#title_header {
    font-family: "Nabla", system-ui;
    color: #ff6228;
}